/*
 * Mozilla Venezuela main styles
 * Following Mozilla's Sandstone Style Guide
 * https://www.mozilla.org/en-US/styleguide/
 */

body {
  background-color: #F6F4EC;
  background-image: linear-gradient(to bottom, #D7D3C8, #F6F4EC);
  border-top: 2px solid #FFF;
}

/*
  Typography basics
  See: https://www.mozilla.org/en-US/styleguide/websites/sandstone/typefaces/
 */

html {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, .large {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 100%;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75)
}

.large {
  font-size: 4rem;
  letter-spacing: -.2rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: -.15rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 1.75rem;
  letter-spacing: -.05rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: -.025rem;
}

.small, small {
  font-size: .75em;
  line-height: 100%;
}

.pagination, .sidebar {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/*
  Links
  See: https://www.mozilla.org/en-US/styleguide/websites/sandstone/colors/
 */

a {
  color: #0095DD;
}

a:hover,
a:active {
  color: #00539F
}

/*
  Tabzilla
 */

/* See: https://github.com/mozilla/tabzilla/#changing-the-color-of-the-wordmark */
#tabzilla:before {
    background-color: #4D4E53;
}
