<!DOCTYPE html>
<html lang="es">

  {% include head.html %}

  <body class="sandstone-bg-sand">

    <div class="navigation-wrapper container clearfix">
      {% include dropbar.html %}
    </div>

    <!-- Wrap is the content to shift when toggling the dropbar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h1 class="masthead-title large">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          </h1>
          <h2>{{ site.tagline }}</h2>
        </div>
      </div>

      <div class="content">
        <div class="container">
          {{ content }}
        </div>
      </div>
    </div>

    <script>
      (function(document) {
        var toggle = document.querySelector('.dropbar-toggle');
        var dropbar = document.querySelector('#dropbar');
        var checkbox = document.querySelector('#dropbar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             dropbar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>
